  #container {
  background-color: yellow;
  width: 300px;
  height: 300px;
  position: relative;
  left: 0px;
  top: 0px;
}

#block {
  background-color: #00f;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 130px;
}

#target {
  background: grey;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 260px;
  top: 240px;
  z-index: 1;
}

.new-elm {
  background: linear-gradient(12deg, red, blue);
  width: 10px;
  height: 10px;
  position: absolute;
}

.move {
  background: linear-gradient(10deg, #d37407, #20bebe);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
}

.obstacles {
  width: 70px;
  height: 20px;
  background: palevioletred;
  position: absolute;
}

#let1 {
  width: 70px;
  left: 50px;
  top: 90px;
}

#let2 {
  width: 70px;
  left: 100px;
  top: 120px;
}

#let3 {
  width: 20px;
  height: 50px;
  left: 150px;
  top: 150px;
}

#let4 {
  left: 70px;
  top: 180px;
}

.test {
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  z-index: 3;
}

.path {
  background: linear-gradient(12deg, #dd0e87, #011420);
  font-size: 10px;
  color: burlywood;
  border-radius: 20%;
  z-index: 2;
  position: absolute;
}

#add-obstencles {
  color: #dd0e87;
  background-color: #00f;
}

.dot {
  background-color: #ac4509;
  position: absolute;
  width: 3px;
  height: 3px;
}

.contours {
  background-color: #d37407;
  position: absolute;
}